<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header">
	<div class="main-content" style="min-height: 800px;">
		<!-- header area start -->
		<div class="header-area">
			<div class="row align-items-center">
				<!-- nav and search button -->
				<div class="col-md-6 col-sm-8 clearfix">
					<div class="nav-btn pull-left">
						<span></span> <span></span> <span></span>
					</div>
					<div id="seach-box" class="search-box pull-left">
						<input type="text" id="seachfield" name="search"
							placeholder="Search..." required> <i class="ti-search"></i>
						<div id="cls"
							class="autocomplete-suggestions autocomplete-display">
							<div class="autocomplete-suggestion autocomplete-selected"></div>
							<div class="autocomplete-suggestion"></div>
							<div class="autocomplete-suggestion"></div>
						</div>
					</div>
				</div>
				<!-- profile info & task notification -->
				<div class="col-md-6 col-sm-4 clearfix">
					<ul class="notification-area pull-right">
						<li id="full-view"><i class="ti-fullscreen"></i></li>
						<li id="full-view-exit"><i class="ti-zoom-out"></i></li>
						<li class="dropdown"><i
							class="fas fa-language dropdown-toggle" data-toggle="dropdown"></i>
							<!-- 							<div class="dropdown-menu notify-box nt-enveloper-box"> -->
							<div class="dropdown-menu notify-box"
								style="min-height: 100px; height: 150px; width: 200px; min-width: 100px; text-align: center;">
								<span class="notify-title" th:text="#{header.changeLang}">Change
									language </span>
								<div class="nofity-list">
									<a
										th:href="@{/en/language?p=} + ${#httpServletRequest.requestURI}"
										class="notify-item" style="height: 35px; margin-top: -20px;">
										<div class="notify-text">
											<p>English</p>
										</div>
									</a> <a
										th:href="@{/vi/language?p=} + ${#httpServletRequest.requestURI}"
										class="notify-item" style="height: 35px; margin-top: -10px;">
										<div class="notify-text">
											<p>Tiếng việt</p>
										</div>
									</a>
								</div>
							</div></li>
						<li>
							<form th:action="@{/logout}" method="POST">
								<button class="dropdown-item" type="submit">Logout</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- header area end -->
</th:block>
</html>