<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head"></head>
<body>

	<th:block th:replace="common/menu :: menu"></th:block>
	<th:block th:replace="common/header :: header"></th:block>

	<div class="container">
		<div class="col-12 mt-5">
			<div class="card">
				<div class="card-body">
					<form th:object="${product}" th:action="@{/product/editProduct}" method="post">
						<input class="form-control" type="hidden" th:field="*{id}" />
						<div class="form-group">
							<label for="example-text-input" class="col-form-label">Tên sản phẩm</label>
							<input class="form-control" type="text" th:field="*{name}"
								id="example-text-input">
							<span th:errors="*{name}" th:if="${#fields.hasErrors('name')}" class="form-text text-danger"></span>
						</div>

						<div class="form-group">
							<label for="example-number-input" class="col-form-label">Số lượng</label>
							<input class="form-control" type="number" th:field="*{quantity}" min="0"
								max="500" id="example-number-input">
							<span class="form-text text-danger" th:errors="*{quantity}" th:if="${#fields.hasErrors('quantity')}"></span>
						</div>

						<div class="form-group">
							<label for="example-number-input" class="col-form-label">Đơn giá</label>
							<input class="form-control" type="number" th:field="*{price}" min="0"
								id="example-number-input">
							<span class="form-text text-danger" th:errors="*{price}" th:if="${#fields.hasErrors('price')}"></span>
						</div>

						<div class="form-group">
							<label for="example-text-input" class="col-form-label">Mô tả</label>
							<textarea class="form-control" th:field="*{description}"
								id="example-text-input"></textarea>
						</div>

						<button type="submit" class="btn btn-primary mt-4 pl-4 pr-4">Cập nhật</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<th:block th:replace="common/footer :: footer"></th:block>

</body>
</html>